.pop-up {
  @apply fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50;
}
.pop-up-container {
  @apply bg-white rounded-lg shadow-lg p-6 w-11/12 max-w-2xl;
}
.pop-up-content {
  @apply flex justify-between items-center mb-4 ;
}
/* project */
.project-container {
  @apply p-6 bg-white shadow-sm rounded-lg;
}
.project-field {
  @apply flex items-center justify-between mb-4;
}
.title {
  @apply text-lg font-semibold;
}
.subtitle {
  @apply text-sm text-gray-600;
}
.subtext{
  @apply block text-sm font-medium text-gray-400;
}
.content-text {
  @apply text-gray-700 max-h-96 overflow-y-auto;
}
.date {
  @apply absolute bottom-4 right-4  flex items-center gap-2;
}
.content {
  @apply border-b border-gray-300 pb-6;
}
.grid-form {
  @apply mt-4 grid gap-y-6 gap-x-4 sm:grid-cols-4;
}

.project-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
}
.project-card {
  @apply relative h-32 p-4 bg-white border border-gray-300 rounded-lg hover:shadow-lg hover:border-indigo-500 transition cursor-pointer;
}

/*project detail*/

.detail-container{
  @apply p-6 bg-white rounded-lg max-w-md mx-auto max-h-screen;
}
.text-status{
  @apply inline-block bg-red-300 text-white text-sm font-semibold py-1 px-3 rounded-full mb-4;
}
.detail-title{
  @apply text-2xl font-bold text-gray-800 mb-2;
}
/*alerts*/

.alert {
  @apply p-4 rounded-md;
}

.alert-success {
  @apply bg-green-100 text-green-800;
}

.alert-error {
  @apply bg-red-100 text-red-800;
}

/* Input Fields */
.input-field {
  @apply block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6;
}

.date-field {
  @apply block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6;
}

.select-field {
  @apply block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6;
}

.file-field {
  @apply mt-2 flex justify-center w-full rounded-lg border border-dashed border-gray-300 bg-white py-2 px-4 text-sm text-gray-900 shadow-sm focus:ring-indigo-500 cursor-pointer;
}
.textarea-field {
  @apply mt-2 flex justify-center w-full rounded-lg border border-dashed border-gray-300 bg-white py-2 px-4 text-sm text-gray-900 shadow-sm focus:ring-indigo-500 cursor-pointer;
}
/* Error Message */
.error-message {
  @apply text-red-500 text-sm;
}
.label {
  @apply block text-sm/6 font-medium text-gray-900;
}
/* Button Styles */
.disable-button{
  @apply bg-gray-400 cursor-not-allowed;
}
.submit-button {
  @apply rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

.delete-button {
  @apply px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 disabled:opacity-50;
}

.edit-button{
  @apply flex items-center justify-center gap-2 px-4 py-2 rounded-md bg-yellow-500 hover:bg-yellow-600 text-white text-xs font-semibold transition-colors focus:ring-2 focus:ring-yellow-400;
}
.loading-button{
@apply flex items-center justify-center flex-1 gap-2 px-4 py-2 rounded-md text-white text-xs font-semibold transition-colors
}
/* Link Text */
.link-text {
  @apply text-sm text-gray-500;
}

.link-highlight {
  @apply text-indigo-600;
}
.icon-purple{
  @apply w-10 h-10 bg-purple-100 flex items-center justify-center rounded-full;
}
/* Responsive Padding */
@media (min-width: 640px) {
  .sm\:p-8 {
    @apply p-8;
  }
}
