

  .dashboard-container {
    @apply relative isolate min-h-full overflow-hidden bg-white;
  }
  .dashboard-top{
    @apply absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80;
 }
  .dashboard-bg {
    @apply relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem];
    clip-path:polygon(
        74.1% 44.1%, 
        100% 61.6%, 
        97.5% 26.9%, 
        85.5% 0.1%, 
        80.7% 2%, 
        72.5% 32.5%, 
        60.2% 62.4%, 
        52.4% 68.1%, 
        47.5% 58.3%, 
        45.2% 34.5%, 
        27.5% 76.7%, 
        0.1% 64.9%, 
        17.9% 100%, 
        27.6% 76.8%, 
        76.1% 97.7%, 
        74.1% 44.1%);
  }
  .dashboard-bottom-bg {
    @apply relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem];
    clip-path:polygon(
        74.1% 44.1%, 
        100% 61.6%, 
        97.5% 26.9%, 
        85.5% 0.1%, 
        80.7% 2%, 
        72.5% 32.5%, 
        60.2% 62.4%, 
        52.4% 68.1%, 
        47.5% 58.3%, 
        45.2% 34.5%, 
        27.5% 76.7%, 
        0.1% 64.9%, 
        17.9% 100%, 
        27.6% 76.8%, 
        76.1% 97.7%, 
        74.1% 44.1%);
  }
  .dashboard-bottom{
  @apply absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]
  }
  .dashboard-wrapper {
    @apply flex min-h-screen p-8;
  }
  
  .content-area {
    @apply min-h-full flex-1 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 py-6 transition-all duration-300;
  }
  
  .title {
    @apply text-balance text-xl font-bold tracking-tight text-gray-900 sm:text-6xl;
  }

  .dashboard-title {
    @apply text-balance text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl;
  }
  
  .mt-10 {
    margin-top: 2.5rem;
  }
  
  .blur-3xl {
    filter: blur(3rem);
  }
  