@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: loading 2s ease infinite;
}

@keyframes loading {
  to { transform: rotateZ(360deg);}
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
}