.assignment-card{
  @apply max-w-full bg-white shadow-sm rounded-lg;
}
.assignment-content{
  @apply mb-4 p-4 border rounded-lg hover:shadow-md transition-shadow;
}

.left-list{
@apply absolute left-0 top-0 w-1 h-full bg-indigo-500;
}