/* Auth Section */
.auth-section {
  @apply bg-gray-50;
}

/* Auth Container */
.auth-container {
  @apply flex flex-col items-center justify-center p-8 mx-auto min-h-screen;
}

/* Logo and Title Styles */
.auth-logo {
  @apply flex items-center mb-6 text-xl font-semibold text-gray-900;
}

/* Form Card */
.auth-card {
  @apply w-full bg-white text-gray-700 max-w-lg z-10 rounded-lg shadow-lg mr-4;
}

/* Auth Content */
.auth-content {
  @apply p-6 space-y-4;
}

/* Auth Card Header */
.auth-card-header {
  @apply text-xl font-bold tracking-tight text-gray-900;
}

.label {
  @apply block text-sm/6 font-medium text-gray-900;
}

/* Input Fields */
.input-field {
  @apply block w-full rounded-md border-0 py-1.5 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6;
}

/* Error Message */
.error-message {
  @apply text-red-500 text-sm;
}

/* Button Styles */
/* Button Styles */
.login-submit-button {
  @apply w-full rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}

/* Link Text */
.link-text {
  @apply text-sm text-gray-500;
}

.link-highlight {
  @apply font-semibold text-indigo-600 hover:text-indigo-500;
}

/* Responsive Padding */
@media (min-width: 640px) {
  .sm\:p-8 {
    @apply p-8;
  }
}
